# Machine Learning & Data Science
tensorflow-macos
tensorflow-metal
keras
numpy
pandas
matplotlib
scikit-learn

# Vector Database & Embeddings
openai
faiss-cpu
pinecone-client
pinecone-datasets
sentence-transformers

# Jupyter & Development
jupyter
ipykernel
black
pylint
pydot

# Visualization
plotly
seaborn




python-dotenv
